In [2]:
import pandas as pd

In [4]:
# Creamos el dataframe a traves de un fichero csv
df = pd.read_csv("ejemplo.csv", encoding="latin-1", sep=";")

In [5]:
# Recorremos el dataframe mostrando el index y el nombre completo
for index, row in df.iterrows():
    print(index)
    print(row["Nombre"])

0
Javier Andres López Castro
1
Pedro Andres Vergara Campos
2
Paula Blanca Marín Campos
3
Isabel Ignacia González Muñoz
4
Bernardo Vicente Campos Rodríguez
5
Isidora Javiera Muñoz López
6
Rodrigo Rodrigo Castro González
7
Rodrigo Vicente González Ruiz
8
Ignacia Constanza Marín Muñoz
9
Cecilia Daniela Ruiz Díaz
10
Andrea Isabel Valenzuela Muñoz
11
Alejandro Juan Vergara Muñoz
12
Vicente Rodrigo Rodríguez Saavedra
13
Ignacia Cecilia Díaz Saavedra
14
Alejandro Felipe González Castro
15
Francisco Vicente Díaz González
16
Rodrigo Javier Rojas Quiroga
17
Alejandro Andrés Saavedra Muñoz
18
Isidora Blanca Rojas Robles
19
Francisco Francisco Saavedra Campos
20
Felipe Ignacio Quiroga González
21
Pedro Ignacio Robles Campos
22
Javiera Pamela Saavedra Rodríguez
23
Daniela Isabel Rodríguez Castro
24
Victoria Daniela Saavedra Campos
25
Ramón Pablo Saavedra Marín
26
Valeria Cecilia Castro Quiroga
27
Javiera Victoria Quiroga Díaz
28
Cecilia Constanza Díaz Ruiz
29
Javiera Paula Muñoz Marín
30
Isidora Andrea López Ruiz
31
Pamela Daniela Vergara Rodríguez
32
Victoria Constanza Ruiz López
33
Isabel Valeria Rodríguez Campos
34
Pedro Francisco Muñoz Rodríguez
35
Valeria Javiera Saavedra Rodríguez
36
Pablo Rodrigo Castro Quiroga
37
Constanza Isidora Muñoz Rojas
38
Ignacio Rodrigo Marín Ruiz
39
Cecilia Victoria Robles Castro
40
Bernardo Ignacio Valenzuela López
41
Juan Juan Campos Muñoz
42
María Daniela Vergara Campos
43
Ignacio Gabriel Valenzuela Quiroga
44
Blanca Andrea Campos Rojas
45
Blanca Blanca Robles Valenzuela
46
Juan Ignacio Rodríguez Díaz
47
Javier Alejandro Valenzuela Muñoz
48
Victoria Isidora Rojas González
49
Victoria Paula Marín Saavedra
50
Ignacio Bernardo Ruiz González
51
Paula Daniela Robles Vergara
52
Bernardo Pablo Ruiz Castro
53
Victoria Constanza Díaz Robles
54
Juan Alejandro Rojas Ruiz
55
Daniela Valeria González Quiroga
56
Ignacio Pablo López Quiroga
57
Valeria Victoria Rojas Ruiz
58
María Daniela González Díaz
59
Andrés Pedro Muñoz Marín
60
Daniela Isabel Vergara Robles
61
Isabel Paula Quiroga Vergara
62
Pamela Ignacia Ruiz López
63
Javier Andrés Díaz Rojas
64
Ramón Bernardo Ruiz Castro
65
Ramón Alejandro González Rojas
66
Isidora Paula Vergara Díaz
67
Ignacia Isabel Vergara González
68
Victoria Cecilia Muñoz Marín
69
Juan Rodrigo Marín Rojas
70
Pedro Andrés Robles Quiroga
71
Alejandro Vicente Quiroga Robles
72
Rodrigo Juan Quiroga Rodríguez
73
Isidora Blanca Valenzuela Castro
74
Ignacia Daniela Robles Rojas
75
Blanca Andrea Castro Rojas
76
Gabriel Felipe Valenzuela Rojas
77
Ignacia Pamela Robles Campos
78
Cecilia Blanca Quiroga Quiroga
79
Alejandro Francisco Saavedra González
80
Felipe Alejandro Rodríguez Rodríguez
81
Alejandro Alejandro González Rodríguez
82
Victoria Javiera Díaz Vergara
83
Victoria Daniela Vergara Díaz
84
Valeria Andrea Rojas Díaz
85
Blanca Pamela Rodríguez Quiroga
86
Ramón Pablo Vergara Campos
87
Pablo Ramón Saavedra Muñoz
88
Andrea Paula Rojas Valenzuela
89
Felipe Alejandro López Marín
90
Victoria Pamela Muñoz Campos
91
Constanza Javiera Rojas Castro
92
Isidora Daniela Valenzuela Rodríguez
93
Pedro Pablo Valenzuela Díaz
94
Juan Andrés Marín López
95
Paula Constanza Campos Muñoz
96
Andrea Valeria Vergara Díaz
97
Bernardo Javier Castro Díaz
98
Felipe Alejandro González Campos
99
Isidora Ignacia Muñoz Castro

In [6]:
# Hacemos un split para mostrar solo el nombre
for index,row in df.iterrows():
    primer_nombre = row["Nombre"].split(" ")[0]
    print(primer_nombre)

Javier
Pedro
Paula
Isabel
Bernardo
Isidora
Rodrigo
Rodrigo
Ignacia
Cecilia
Andrea
Alejandro
Vicente
Ignacia
Alejandro
Francisco
Rodrigo
Alejandro
Isidora
Francisco
Felipe
Pedro
Javiera
Daniela
Victoria
Ramón
Valeria
Javiera
Cecilia
Javiera
Isidora
Pamela
Victoria
Isabel
Pedro
Valeria
Pablo
Constanza
Ignacio
Cecilia
Bernardo
Juan
María
Ignacio
Blanca
Blanca
Juan
Javier
Victoria
Victoria
Ignacio
Paula
Bernardo
Victoria
Juan
Daniela
Ignacio
Valeria
María
Andrés
Daniela
Isabel
Pamela
Javier
Ramón
Ramón
Isidora
Ignacia
Victoria
Juan
Pedro
Alejandro
Rodrigo
Isidora
Ignacia
Blanca
Gabriel
Ignacia
Cecilia
Alejandro
Felipe
Alejandro
Victoria
Victoria
Valeria
Blanca
Ramón
Pablo
Andrea
Felipe
Victoria
Constanza
Isidora
Pedro
Juan
Paula
Andrea
Bernardo
Felipe
Isidora

In [7]:
# Función len()
print(df["Nombre"].str.len())

# Extraer carácter
print(df["RUT"].str[0])

# Extraer caracteres
print(df["RUT"].str[0:4])

# Función lower()
print(df["Nombre"].str.lower())

# Función upper()
print(df["Nombre"].str.upper())

0     26
1     27
2     25
3     29
4     33
      ..
95    28
96    27
97    27
98    32
99    28
Name: Nombre, Length: 100, dtype: int64
0     1
1     1
2     1
3     8
4     1
     ..
95    5
96    1
97    1
98    9
99    1
Name: RUT, Length: 100, dtype: object
0     13.6
1     17.1
2     15.3
3     8.29
4     15.7
      ...
95    5.61
96    11.1
97    11.4
98    9.02
99    14.2
Name: RUT, Length: 100, dtype: object
0            javier andres lópez castro
1           pedro andres vergara campos
2             paula blanca marín campos
3         isabel ignacia gonzález muñoz
4     bernardo vicente campos rodríguez
                    ...
95         paula constanza campos muñoz
96          andrea valeria vergara díaz
97          bernardo javier castro díaz
98     felipe alejandro gonzález campos
99         isidora ignacia muñoz castro
Name: Nombre, Length: 100, dtype: object
0            JAVIER ANDRES LÓPEZ CASTRO
1           PEDRO ANDRES VERGARA CAMPOS
2             PAULA BLANCA MARÍN CAMPOS
3         ISABEL IGNACIA GONZÁLEZ MUÑOZ
4     BERNARDO VICENTE CAMPOS RODRÍGUEZ
                    ...
95         PAULA CONSTANZA CAMPOS MUÑOZ
96          ANDREA VALERIA VERGARA DÍAZ
97          BERNARDO JAVIER CASTRO DÍAZ
98     FELIPE ALEJANDRO GONZÁLEZ CAMPOS
99         ISIDORA IGNACIA MUÑOZ CASTRO
Name: Nombre, Length: 100, dtype: object

In [8]:
# Función replace(x,y)
print(df["Fecha_Nac"].str.replace("/", "-"))

# Función contains(x)
print(df["RUT"].str.contains("-"))

# Función find(x)
print(df["Nombre"].str.find(" "))

# Función split(x)
print(df["Nombre"].str.split(" "))

# Función split(x, expand=True)
# Crea un dataframe de una columna
df2 = df["Nombre"].str.split(" ", expand=True)
print(df2)

0      1963-2-17
1     1993-10-24
2      1962-5-30
3      1972-3-20
4      1987-7-11
         ...
95      1971-4-4
96    2000-10-23
97     1995-2-14
98    1982-11-21
99     1968-1-23
Name: Fecha_Nac, Length: 100, dtype: object
0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: RUT, Length: 100, dtype: bool
0     6
1     5
2     5
3     6
4     8
     ..
95    5
96    6
97    8
98    6
99    7
Name: Nombre, Length: 100, dtype: int64
0            [Javier, Andres, López, Castro]
1           [Pedro, Andres, Vergara, Campos]
2             [Paula, Blanca, Marín, Campos]
3         [Isabel, Ignacia, González, Muñoz]
4     [Bernardo, Vicente, Campos, Rodríguez]
                       ...
95         [Paula, Constanza, Campos, Muñoz]
96          [Andrea, Valeria, Vergara, Díaz]
97          [Bernardo, Javier, Castro, Díaz]
98     [Felipe, Alejandro, González, Campos]
99         [Isidora, Ignacia, Muñoz, Castro]
Name: Nombre, Length: 100, dtype: object
           0          1         2          3
0     Javier     Andres     López     Castro
1      Pedro     Andres   Vergara     Campos
2      Paula     Blanca     Marín     Campos
3     Isabel    Ignacia  González      Muñoz
4   Bernardo    Vicente    Campos  Rodríguez
..       ...        ...       ...        ...
95     Paula  Constanza    Campos      Muñoz
96    Andrea    Valeria   Vergara       Díaz
97  Bernardo     Javier    Castro       Díaz
98    Felipe  Alejandro  González     Campos
99   Isidora    Ignacia     Muñoz     Castro

[100 rows x 4 columns]

In [9]:
# Cambiamos los nombres de las columnas
df3 = df["Nombre"].str.split(" ", expand=True)
df3.columns = ["Primer Nombre", "Segundo Nombre", "Primer Apellido", "Segundo Apellido"]
print(df3)

# Función join()
df = df.join(df3)
print(df.dtypes)

# Función join(), pero evitando errores de columnas repetidas
df = df.join(df3, rsuffix="_df3", lsuffix="_df3")
print(df.dtypes)

# Función join(), unir dataframe diferentes, rellena con NaN
df4 = pd.DataFrame([["1", 2], ["3", 4]])
df = df.join(df4)
print(df)

   Primer Nombre Segundo Nombre Primer Apellido Segundo Apellido
0         Javier         Andres           López           Castro
1          Pedro         Andres         Vergara           Campos
2          Paula         Blanca           Marín           Campos
3         Isabel        Ignacia        González            Muñoz
4       Bernardo        Vicente          Campos        Rodríguez
..           ...            ...             ...              ...
95         Paula      Constanza          Campos            Muñoz
96        Andrea        Valeria         Vergara             Díaz
97      Bernardo         Javier          Castro             Díaz
98        Felipe      Alejandro        González           Campos
99       Isidora        Ignacia           Muñoz           Castro

[100 rows x 4 columns]
RUT                 object
Nombre              object
Sexo                object
Fecha_Nac           object
Monto                int64
Primer Nombre       object
Segundo Nombre      object
Primer Apellido     object
Segundo Apellido    object
dtype: object
RUT                     object
Nombre                  object
Sexo                    object
Fecha_Nac               object
Monto                    int64
Primer Nombre_df3       object
Segundo Nombre_df3      object
Primer Apellido_df3     object
Segundo Apellido_df3    object
Primer Nombre_df3       object
Segundo Nombre_df3      object
Primer Apellido_df3     object
Segundo Apellido_df3    object
dtype: object
             RUT                             Nombre       Sexo   Fecha_Nac  \
0   13.626.365-6         Javier Andres López Castro  MASCULINO   1963/2/17
1   17.135.958-1        Pedro Andres Vergara Campos  MASCULINO  1993/10/24
2   15.391.058-0          Paula Blanca Marín Campos   FEMENINO   1962/5/30
3    8.296.689-7      Isabel Ignacia González Muñoz   FEMENINO   1972/3/20
4   15.755.894-8  Bernardo Vicente Campos Rodríguez  MASCULINO   1987/7/11
..           ...                                ...        ...         ...
95   5.619.749-2       Paula Constanza Campos Muñoz   FEMENINO    1971/4/4
96  11.135.910-5        Andrea Valeria Vergara Díaz   FEMENINO  2000/10/23
97  11.424.452-3        Bernardo Javier Castro Díaz  MASCULINO   1995/2/14
98   9.025.368-5   Felipe Alejandro González Campos  MASCULINO  1982/11/21
99  14.299.795-9       Isidora Ignacia Muñoz Castro   FEMENINO   1968/1/23

      Monto Primer Nombre_df3 Segundo Nombre_df3 Primer Apellido_df3  \
0   9889868            Javier             Andres               López
1   4071184             Pedro             Andres             Vergara
2   9004634             Paula             Blanca               Marín
3   1260523            Isabel            Ignacia            González
4   6515702          Bernardo            Vicente              Campos
..      ...               ...                ...                 ...
95   949163             Paula          Constanza              Campos
96  4939844            Andrea            Valeria             Vergara
97  2098359          Bernardo             Javier              Castro
98  2095984            Felipe          Alejandro            González
99   707550           Isidora            Ignacia               Muñoz

   Segundo Apellido_df3 Primer Nombre_df3 Segundo Nombre_df3  \
0                Castro            Javier             Andres
1                Campos             Pedro             Andres
2                Campos             Paula             Blanca
3                 Muñoz            Isabel            Ignacia
4             Rodríguez          Bernardo            Vicente
..                  ...               ...                ...
95                Muñoz             Paula          Constanza
96                 Díaz            Andrea            Valeria
97                 Díaz          Bernardo             Javier
98               Campos            Felipe          Alejandro
99               Castro           Isidora            Ignacia

   Primer Apellido_df3 Segundo Apellido_df3    0    1
0                López               Castro    1  2.0
1              Vergara               Campos    3  4.0
2                Marín               Campos  NaN  NaN
3             González                Muñoz  NaN  NaN
4               Campos            Rodríguez  NaN  NaN
..                 ...                  ...  ...  ...
95              Campos                Muñoz  NaN  NaN
96             Vergara                 Díaz  NaN  NaN
97              Castro                 Díaz  NaN  NaN
98            González               Campos  NaN  NaN
99               Muñoz               Castro  NaN  NaN

[100 rows x 15 columns]

In [17]:
# Función merge()
df_banco_A = pd.read_csv("bancoA.csv", encoding="latin-1", sep=";")
df_banco_B = pd.read_csv("bancoB.csv", encoding="latin-1", sep=";")
df_banco_A = df_banco_A.merge(df_banco_B, left_on="ID", right_on="RUT", suffixes=("_bancoA", "_bancoB"))
print(df_banco_A)

             ID  Monto_bancoA           RUT  Monto_bancoB
0  13.626.365-6       9889868  13.626.365-6       7565403
1  17.135.958-1       4071184  17.135.958-1       1237464

In [18]:
# Función merge() modo "left"
df_banco_B = pd.read_csv("bancoB_2.csv", encoding="latin-1", sep=";")
df_banco_A = df_banco_A.merge(df_banco_B, left_on="ID", right_on="RUT", suffixes=("_bancoA", "_bancoB"), how="left")
print(df_banco_A)

             ID  Monto_bancoA    RUT_bancoA  Monto_bancoB    RUT_bancoB  \
0  13.626.365-6       9889868  13.626.365-6       7565403  13.626.365-6
1  17.135.958-1       4071184  17.135.958-1       1237464  17.135.958-1

     Monto
0  7565403
1  1237464

In [19]:
# Función merge() modo "outer"
df_banco_A = df_banco_A.merge(df_banco_B, left_on="ID", right_on="RUT", suffixes=("_bancoA", "_bancoB"), how="outer")
print(df_banco_A)

             ID  Monto_bancoA    RUT_bancoA  Monto_bancoB    RUT_bancoB  \
0  13.626.365-6     9889868.0  13.626.365-6     7565403.0  13.626.365-6
1  17.135.958-1     4071184.0  17.135.958-1     1237464.0  17.135.958-1
2           NaN           NaN           NaN           NaN           NaN

   Monto_bancoA           RUT  Monto_bancoB
0     7565403.0  13.626.365-6       7565403
1     1237464.0  17.135.958-1       1237464
2           NaN  15.755.894-8       6515702